<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Traveliada</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/album/">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/carousel.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <link href="/css/lightbox.css" rel="stylesheet">
</head>
<body>

<footer th:fragment="footer" class="text-muted">
    <div class="container" style="margin-top: 40px;">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>

<div th:fragment="bottom-scripts">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/holder.min.js"></script>
    <script src="/js/lightbox-plus-jquery.js"></script>
</div>
</body>
</html>
