<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: blog-header"></head>

<body>

<nav th:replace="common/header :: navbar"></nav>

<header class="masthead" th:style="${blog.aboutPhoto} ? 'background-image:url(' + @{'data:image/jpeg;base64,'+${blog.generateBase64ImageAbout()}} + ');' : 'background-color: #3f3f3f;'">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading" th:text="${blog.aboutMe}"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 mx-auto">
            <form method="post" th:action="@{/blog/editAbout}" enctype="multipart/form-data">
                <fieldset>
                    <div class="form-group">
                        <label for="subtitle">Subtitle</label>
                        <textarea class="form-control" id="subtitle" rows="1" th:text="${blog.aboutMe}"
                                  name="aboutMe" th:value="${aboutMe}" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="paragraphText">Text about me</label>
                        <textarea class="form-control" id="paragraphText" rows="14" th:text="${blog.aboutMeSubtitle}"
                                  name="aboutMeSubtitle" th:value="${aboutMeSubtitle}" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="photo">Background photo</label>
                        <input type="file" class="form-control-file" id="photo" aria-describedby="fileHelp"
                             accept="image/png, image/jpeg" name="photo" th:value="${photo}"/>
                        <small id="fileHelp" class="form-text text-muted">.jpg and .png accepted, max: 5MB</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<hr/>

<footer th:replace="common/header :: footer"></footer>

<div th:replace="common/header :: bottom-scripts"></div>

</body>
</html>
