<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head"></head>
<body>
<main role="main">

    <header th:fragment="header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm fixed-top">
            <div class="container d-flex justify-content-between">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about" th:href="@{/#about}">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#posts" th:href="@{/#posts}">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/project'}">O projekcie</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div th:replace="header :: carousel"></div>

    <div class="container marketing">
        <div class="row anchor" id="about">
            <div data-th-each="author : ${authors}" class="text-center col-lg-6">
                <img class="rounded-circle covered authors-img" th:src="@{${'/img/' + author.photo}}"/>
                <h2 th:text="${author.firstName + ' ' + author.lastName}"></h2>
                <p th:text="${author.description}"></p>
            </div>
        </div>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row anchor" id="posts">
                    <div data-th-each="post : ${posts}" class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="hovereffect">
                                <img class="card-img-top covered post-img img-responsive"
                                     th:src="@{${'/img/' + post.mainPhoto}}"
                                     alt="Card image cap">
                                <div class="overlay">
                                    <h2 th:text="${post.country}"></h2>
                                    <a class="info" th:href="@{'/post/' + ${post.id}}">Read more</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text" th:text="${#strings.substringBefore(post.postText, '.')}"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted" th:text="${post.date}"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="common :: footer"></footer>

<div th:replace="common :: bottom-scripts"></div>

</body>
</html>