<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: blog-header">
</head>
<body>

<nav th:replace="common/header :: navbar"></nav>

<header class="masthead" th:style="${chosenPost.backgroundPhoto} ? 'background-image:url(' + @{'data:image/jpeg;base64,'+${chosenPost.generateBase64Image()}} + ');' : 'background-color: #3f3f3f;'">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 mx-auto">
                <div class="post-heading">
                    <h1><span th:text="${chosenPost.title}"></span> </h1>
                    <h2 class="subheading"><span th:text="${chosenPost.subtitle}"></span> </h2>
                    <span class="meta">Posted by
                        <a th:href="@{/blog}" th:text="${user.username}"></a>
                        on <span data-th-text="${#dates.format(chosenPost.creationDate, 'dd/MM/yyyy')}"></span></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div th:if="${loggedIn}" class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form th:action="@{'/blog/editPost/' + ${chosenPost.id}}">
                    <button type="submit" name="request" th:value="edit" style="opacity: 0.7;"
                            class="col-md-2 btn btn-primary btn-log pull-right">Edit</button>
                    <button onclick="return confirm('Are you sure you want to delete this post?');"
                            type="submit" name="request" th:value="delete" style="opacity: 0.7;"
                            class="col-md-2 btn btn-primary btn-log pull-right">Delete</button>
                </form>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <span th:utext="${#strings.replace(chosenPost.postText, '&#10;', '&lt;br /&gt;')}"></span>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div data-th-each="photo : ${chosenPost.photosList}" class="imagewrap">
                    <img class="col-md-12" th:src="@{'data:image/jpeg;base64,'+${photo.generateBase64Image()}}"/>
                    <a th:if="${loggedIn}" style="color: #fff; background-color: rgba(0,0,0,0.3);" class="btn btn-sm button2"
                       th:href="@{'/blog/post/' + ${chosenPost.id} + '/deletePhoto/' + ${photo.id}}"
                       onclick="return confirm('Are you sure you want to delete this photo?');">
                       <strong>Delete</strong></a>
                    <!--<hr/>-->
                </div>
            </div>
        </div>
    </div>
</article>

<div th:fragment="liking" class="row">
    <span th:text="${chosenPost.likes}"></span>
</div>

<div th:fragment="disliking" class="row">
    <span th:text="${chosenPost.dislikes}"></span>
</div>

<hr/>

<footer th:replace="common/header :: footer"></footer>

<div th:replace="common/header :: bottom-scripts">
</div>

</body>
</html>
