<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: head">
</head>
<body th:style="'background-color: #fcefd6;'">
<header th:replace="home :: header"></header>

<section class="jumbotron text-center post-back">
    <div class="container post-title">
        <h1 class="jumbotron-heading">O projekcie</h1>
    </div>
</section>

<div class="container">
    <div style="margin-top: 40px; margin-bottom: 70px;">
        <p>
            Stworzona aplikacja to blog podróżniczy.<br/>
            Strona główna zawiera menu znajdujące się na górze strony
            i obecne w tym miejscu zawsze, zarówno przy przejściu na inne podstrony jak i przy scrollowaniu strony,
            co daje użytkownikowi możliwość lokalizacji na stronie.<br/>
            Główny baner to tak zwana karuzela, czyli
            zajmujące całą szerokość strony zdjęcia lub inne tło plus ewentualny tekst, zmieniające się po określonym
            czasie w odpowiedniej kolejnośc. W elemencie tym został użyty Bootstrap.<br/>
            Dzięki menu głównemu użytkownik może swobodnie poruszać się w obrębie strony. Klikając odpowiednie
            odnośniki zostaje on przeniesiony do odpowiadającyh danym odnośnikom elementom strony. Pierwszy z nich to
            opis autorów bloga (About us). Druga część to spis wszystkich udostępnionych postów na blogu (Posts).
            Posty te zostały umieszczone w porządku chronologicznym, od najnowszego, co daje użytkownikowi możliwość
            śledzenia najnowszych wpisów.<br/>
            Po najechaniu na interesujący użytkownika post, dostaje on możliwość przejścia do całej treści posta. Po
            kliknięciu odpowiedniego przycisku (Read more) użytkownik zostaje przeniesiony na strone posta. Tam widzimy
            wspomnianę menu główne, którym użytkownik może w dalszym ciągu przejść na wszystkie interesujące go
            podstrony, a dodatkowo dostaje możliwość przechodzenia pomiędzy postami, albo do starszego, albo bo
            nowszego wpisu. Na końcu każdego posta dodana została galeria zdjęć, w tym przypadku również zostały
            wykorzystane szerokie możliwości bootstrapa i jego przykładowe użycia dostępne w internecie.<br/>
            Do stworzenia aplikacji wykprzystane zostały następujące technologie: Java 8, Spring Boot, Thymeleaf,
            HTML oraz CSS.<br/>
            Kod strony dostępny jest w <a href="http://github.com/Sylwin/AiTSI_blog"
                                          style="text-decoration: underline; font-weight: bold">repozytorium github</a>.
        </p>
    </div>
</div>

<footer th:replace="common :: footer"></footer>
<div th:replace="common :: bottom-scripts"></div>
</body>
</html>