<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="register-header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Travel Blog</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.minn.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/form-elements.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link href="/static/bootstrap/css/bootstrap-custom.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/static/glob.png"/>

</head>

<body>

<div class="top-content">
    <a class="homeHref" th:href="@{/}">HOME</a>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
                <h1 class="main-text"><strong>Registration</strong></h1>
            </div>
        </div>
        <div class="row">
            <h1 class="under-text"><strong>We are happy that you want to join us!</strong></h1>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <form class="r-form" method="post" th:action="@{/registration}">
                    <div class="form-group">
                        <label  class="col-sm-2 sr-only" for="blogTitle">Title</label>
                        <input type="text" th:value="${user.blogTitle}" name="blogTitle" placeholder="Enter your new blog title..."
                               class="form-control" id="blogTitle" roleId="blogTitle" required="required"/>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 sr-only" for="username">Username</label>
                        <span class="bg-danger pull-right" th:if="${usernameExists}">Username already exists</span>
                        <input type="text" name="username" placeholder="Enter your Username..." class="form-control"
                               id="username" roleId="username" th:value="${user.username}" required="required"/>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 sr-only" for="email">Email</label>
                        <span class="bg-danger pull-right" th:if="${emailExists}">Email already exists</span>
                        <span class="bg-danger pull-right" th:if="${wrongEmailFormat}">Wrong email format</span>
                        <input type="text" name="email" placeholder="Enter your Email..." class="form-control"
                               id="email" th:value="${user.email}" roleId="email" required="required"/>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 sr-only" for="password">Password</label>
                        <span class="bg-danger pull-right" th:if="${passwordWrongLength}">Password should be between 6 and 30 characters.</span>
                        <input type="password" name="password" placeholder="Enter your Password..."
                               class="form-control" th:value="${user.password}" id="password" required="required"/>
                    </div>
                    <div class="checkbox">
                        <label style="color: #70270a" >
                            <input id="showPassword" type="checkbox" /><strong>Show Password</strong>
                        </label>
                    </div>
                    <br/>
                    <div class="form-group">
                        <button type="submit" class="btn">Sign up!</button>
                    </div>
                </form>
                <hr/>
                <h4>Already have an account?</h4>
                <a style="color: #70270a; font-size: 20px" th:href="@{/login}"><strong>Sing in!</strong></a>
            </div>
        </div>

    </div>
</div>

<!-- Javascript -->

<div th:fragment="body-bottom-scripts">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.minn.js"></script>
    <script src="/static/js/jquery.backstretch.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/main.js"></script>
    <!--[if lt IE 10]>
    <script src="/static/js/placeholder.js"></script>
    <![endif]-->
</div>
</body>

</html>