<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: blog-header">
</head>

<body>

<nav th:replace="common/header :: navbar"></nav>

<header class="masthead" th:style="${blog.homePhoto} ? 'background-image:url(' + @{'data:image/jpeg;base64,'+${blog.generateBase64ImageHome()}} + ');' : 'background-color: #3f3f3f;'">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1><span th:text="${user.blogTitle}"></span></h1>
                    <h5><span class="subheading" th:text="${blog.subtitle}"></span></h5>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div th:if="${loggedIn}" class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form th:action="@{'/blog/editBlog/' + ${blog.id}}">
                <button type="submit" name="request" th:value="add" style="opacity: 0.7;"
                        class="col-md-2 btn btn-primary btn-log pull-right">Add post</button>
                <button type="submit" name="request" th:value="edit" style="opacity: 0.7;"
                        class="col-md-2 btn btn-primary btn-log pull-right">Edit</button>
            </form>
        </div>
    </div>

    <div th:if="${!loggedIn}" class="row">
        <div th:if="${!rated}" class="col-md-6 mx-auto text-center">
            <h4>Let me know if you like my blog :)</h4>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <form method="post" th:action="@{'/travels/blog/rate/' + ${user.username}}">
                    <button type="submit" name="request" th:value="1"
                            class="btn btn-secondary">1</button>
                    <button type="submit" name="request" th:value="2"
                            class="btn btn-secondary">2</button>
                    <button type="submit" name="request" th:value="3"
                            class="btn btn-secondary">3</button>
                    <button type="submit" name="request" th:value="4"
                            class="btn btn-secondary">4</button>
                    <button type="submit" name="request" th:value="5"
                            class="btn btn-secondary">5</button>
                </form>
            </div>
            <p>Current rate: <span th:text="${blog.rate}"></span></p>
        </div>
        <div th:if="${rated}" class="col-md-6 mx-auto text-center">
            <h4>Thanks for your opinion</h4>
            <p>Current rate: <span th:text="${blog.rate}"></span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div data-th-each="post : ${postsList}">
                <div class="post-preview">
                    <a th:if="${loggedIn}" th:href="@{'/blog/post/' + ${post.id}}">
                        <h2 class="post-title">
                            <span data-th-text="${post.title}"></span>
                        </h2>
                        <h3 class="post-subtitle">
                            <span data-th-text="${post.subtitle}"></span>
                        </h3>
                    </a>
                    <a th:if="${!loggedIn}" th:href="@{'/travels/blog/' + ${user.username} + '/post/' + ${post.id}}">
                        <h2 class="post-title">
                            <span data-th-text="${post.title}"></span>
                        </h2>
                        <h3 class="post-subtitle">
                            <span data-th-text="${post.subtitle}"></span>
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a th:if="${loggedIn}" th:href="@{/blog}" th:text="${user.username}"></a>
                        <a th:if="${!loggedIn}" th:href="@{'/travels/blog/' + ${user.username}}" th:text="${user.username}"></a>
                        on <span data-th-text="${#dates.format(post.creationDate, 'dd/MM/yyyy')}"></span>
                    </p>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>

<hr/>


<footer th:replace="common/header :: footer"></footer>

<div th:replace="common/header :: bottom-scripts"></div>

</body>
</html>
